logs/
target/
build/
lib/

**/*.*~
**/*.~

**/*.min.js

.settings/
.project
.classpath

node
node_modules
npm-debug.log
src/main/resources/config/*
!src/main/resources/config/sql
src/main/resources/public/assets/js/build
src/main/resources/public/assets/images

bower_components
jspm_packages

*.tar.gz
*.zip
*.rar

src/main/resources/log4j.properties
src/main/resources/config/*.properties

src/main/resources/public/assets/images/demo
