@CHARSET "UTF-8";

body {
    padding: 0px !important;
}

table.shower {
	
}

table.shower  tr {
	
}

table.shower tr td {
	padding: 5px;
	font-size: 1.2em !important;
}

table.shower tr td.image {
	padding: 5px;
}

#shower-history tr th {
	border-top: none;
}

/* bootstrap */
.navbar {
	min-height: 55px;
}

/* bootstrap datepicker */
.datepicker table tr td span.active:active, .datepicker table tr td span.active:hover:active,
	.datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover:active,
	.datepicker table tr td span.active.active, .datepicker table tr td span.active.active:hover,
	.datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled.active:hover
	{
	
}

.datepicker table tr td span.active:hover, .datepicker table tr td span.active:hover:hover,
	.datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active.disabled:hover:hover,
	.datepicker table tr td span.active:active, .datepicker table tr td span.active:hover:active,
	.datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover:active,
	.datepicker table tr td span.active.active, .datepicker table tr td span.active.active:hover,
	.datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled.active:hover,
	.datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled:hover,
	.datepicker table tr td span.active.disabled.disabled, .datepicker table tr td span.active.disabled.disabled:hover,
	.datepicker table tr td span.active[disabled], .datepicker table tr td span.active[disabled]:hover,
	.datepicker table tr td span.active.disabled[disabled], .datepicker table tr td span.active.disabled[disabled]:hover
	{
	background-color: #337AB7;
}

.datepicker table tr td span.active, .datepicker table tr td span.active:hover,
	.datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled:hover
	{
	background-color: #337AB7;
	background-image: -moz-linear-gradient(center top, #337AB7, #337AB7);
}