<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

	<Properties>
		<Property name="baseDir">logs</Property>
	</Properties>

	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss} %20X{session.remote-address} %20X{session.username} %-5p %c{1}:%L - %m%n" />
		</Console>

		<RollingFile name="file" filename="${baseDir}/daiad.log"
			filepattern="${baseDir}/daiad-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss} %20X{session.remote-address} %20X{session.username} %-5p %c{1}:%L - %m%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>

		<RollingFile name="AmphiroSessionFile"
			filename="${baseDir}/amphiro-session.log"
			filepattern="${baseDir}/amphiro-session-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss};%m%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="100" />
		</RollingFile>

		<RollingFile name="AmphiroMeasurementFile"
			filename="${baseDir}/amphiro-measurement.log"
			filepattern="${baseDir}/amphiro-measurement-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss};%m%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="100" />
		</RollingFile>

		<RollingFile name="AmphiroSessionMemberFile"
			filename="${baseDir}/amphiro-session-member.log"
			filepattern="${baseDir}/amphiro-session-member-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss};%m%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="100" />
		</RollingFile>

		<RollingFile name="AmphiroSessionIgnoreFile"
			filename="${baseDir}/amphiro-session-ignore.log"
			filepattern="${baseDir}/amphiro-session-ignore-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss};%m%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="100" />
		</RollingFile>

		<RollingFile name="AmphiroSessionRealTimeFile"
			filename="${baseDir}/amphiro-session-realtime.log"
			filepattern="${baseDir}/amphiro-session-realtime-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss};%m%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="100" />
		</RollingFile>

		<RollingFile name="SendMailFile"
			filename="${baseDir}/send-mail.log"
			filepattern="${baseDir}/send-mail-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss};%m%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="100" />
		</RollingFile>

		<JDBC name="table" tableName="public.log4j_message">
			<ConnectionFactory
				class="eu.daiad.web.logging.jdbc.ConnectionFactory"
				method="dataSource" 
			/>
			<Column name="account" pattern="%X{client.username}" isUnicode="false" />
			<Column name="remote_address" pattern="%X{client.remote-address}" isUnicode="false" />
			<Column name="category" pattern="%X{error.category}" isUnicode="false" />
			<Column name="code" pattern="%X{error.code}" isUnicode="false" />
			<Column name="level" pattern="%level" isUnicode="false" />
			<Column name="logger" pattern="%logger" isUnicode="false" />
			<Column name="timestamp" isEventTimestamp="true" />
			<Column name="message" pattern="%message" isUnicode="false" />
			<Column name="exception" pattern="%ex{full}" isUnicode="false" />
			<Column name="application" literal="'webapp'" />
		</JDBC>
	</Appenders>
	
	<Loggers>
		<Logger name="AmphiroSessionLogger" level="INFO"
			additivity="false">
			<AppenderRef ref="AmphiroSessionFile" />
		</Logger>

		<Logger name="AmphiroMeasurementLogger" level="INFO"
			additivity="false">
			<AppenderRef ref="AmphiroMeasurementFile" />
		</Logger>

		<Logger name="AmphiroSessionMemberLogger" level="INFO"
			additivity="false">
			<AppenderRef ref="AmphiroSessionMemberFile" />
		</Logger>

		<Logger name="AmphiroSessionIgnoreLogger" level="INFO"
			additivity="false">
			<AppenderRef ref="AmphiroSessionIgnoreFile" />
		</Logger>

		<Logger name="AmphiroSessionRealTimeLogger" level="INFO"
			additivity="false">
			<AppenderRef ref="AmphiroSessionRealTimeFile" />
		</Logger>

		<Logger name="SendMailLogger" level="INFO" additivity="false">
			<AppenderRef ref="SendMailFile" />
		</Logger>

		<Root level="INFO">
			<AppenderRef ref="console" />
			<AppenderRef ref="table" />
			<AppenderRef ref="file" />
		</Root>
	</Loggers>
</Configuration>
