<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    
    <link rel="icon" href="/assets/images/utility/favicon.ico" />
    <title>DAIAD</title>

    <link href="/assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/lib/react-select/react-select.css" rel="stylesheet" />
		<link href="/assets/lib/leaflet/leaflet.css" rel="stylesheet" />
		<link href="/assets/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
		<link href="/assets/lib/react-datetime/react-datetime.css" rel="stylesheet" />
    <link href="/assets/css/home.css" rel="stylesheet" />
		
		<script th:inline="javascript">
        var properties = {
       	    reload: [[${reload}]],
       	    locale: 'en'
     	};
    </script>

</head>
<body>
  
	<div id="app"></div>

  <script th:if="${@environment.getActiveProfiles()[0] == 'production'}" 
    src="/assets/js/build/vendor/react.min.js"></script>
  <script th:if="${@environment.getActiveProfiles()[0] == 'development'}" 
    src="/assets/js/build/vendor/react.js"></script>

  <script th:if="${@environment.getActiveProfiles()[0] == 'production'}"
		src="/assets/lib/echarts/echarts.min.js"></script>
  <script th:if="${@environment.getActiveProfiles()[0] == 'development'}"
		src="/assets/lib/echarts/echarts.js"></script>

	<script th:if="${@environment.getActiveProfiles()[0] == 'production'}"
		src="/assets/js/build/home/bundle.min.js"></script>
  <script th:if="${@environment.getActiveProfiles()[0] == 'development'}"
		src="/assets/js/build/home/bundle.js"></script>

</body>
</html>
