.settings/
.project
.classpath

logs/
target/
build/
lib/
etc/

**/*.*~
**/*.~

**/*.min.js
!apidoc/template/**/*.min.js
**/*.log

node
node_modules
npm-debug.log

apidoc/docs

src/main/resources/public/docs

bower_components
jspm_packages

*.tar.gz
*.zip
*.rar

src/main/resources/log4j.properties
src/main/resources/log4j2.xml
src/main/resources/log4j2-test.xml
src/main/resources/config
